/* 
a:visited {
  color:#777;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #4aaaa5;
} */
html, body {
  height: 100%;
}

html {
  display: table;
  margin: 0 auto;
  padding: 5%;
}

body {
  display: table-cell;
  vertical-align: middle;
  font-family: "Avenir Next",Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777;
}

.mypic {
border-radius: 60%;
width: 30%;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.well{
  background: #fff;

}

h1 {
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  margin: 10px;
  color: rgb(75, 75, 75);
}

h3 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #777;
}

h4 {
  height: 25px;;
  font-size: 20px;
  text-align: center;
  margin-bottom: 0;
  color: rgb(146, 146, 146);
}

.read_more {
  position: relative;
  float: none;
  margin: 0 auto;
  text-align: center;
}


h2 {
  padding: 0px 10px 5px 10px;
  margin-bottom: 20px;
  color: #4aaaa5;
  border-bottom-style: solid;
  border-bottom-color: #777;
  border-bottom-style: solid;
  border-bottom-color: #777;
  border-width: 1px;
  font-size: 30px;
}

.modal-body {
  font-size: 18px;
  line-height: normal;
}

.connect_me {
text-align: center;
}

.mojFooter{
  color: rgb(196, 196, 196);
  border-top: 1px solid rgb(196, 196, 196);
  text-align: center;
  padding: 1%;
  width: 50%;
}

.work {
  position: relative;
  float: left;
  width: 200px;
  margin: 20px 0px 10px;
  overflow: auto;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}




@media screen and (max-width:1199px){
  .box-img {
    width: 100%;
  }
}

@media screen and (max-width:960px){
  .box-img {
    width: 100%;
  }
}

  @media screen and (max-width:500px){
    .navbar-brand {
      font-size: 30px;
    }

    .caption {
      width: 80%;
      margin: 0 auto;
    }
    
    .box-img {
      width: 100%;
    }
  }
  

  @media screen and (max-width:480px){
    .navbar-brand {
      font-size: 20px;
    }
    .caption {
      width: 80%;
      margin: 0 auto;
    }

  }